/* Font */
@import url('https://fonts.googleapis.com/css?family=Kanit');

/* Design */
#card *,
#card *::before,
#card *::after {
  box-sizing: border-box;
}

#card {
  background-color: #ebebeb;
  color: #272727;
  font-family: 'Kanit', sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
}

#card .main{
  max-width: 1200px;
  margin: 0 auto;
}


#card img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

#card .btn {
  color: #000000;
  font-family: 'Kanit', sans-serif;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: transparent;
}

/* button when pointer*/
#card .btn:hover {
  background-color: rgba(0, 0, 0, 0.12);
}

#card .cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

#card .cards_item {
  display: flex;
  padding: 16px;
}

#card .card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
/* content text (title & message)*/
#card .card_content {
  padding: 16px;
  background-color: rgb(255, 255, 255);
}

/* span date in content*/
#card .card_content span{
  display: block;
  color:rgba(0, 0, 0, 0.5);
  font-size: 12px;
  font-weight: 600;
}

/* title*/
#card .card_title {
  color: #000000;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

/* content text*/
#card .card_text {
  color: #000000;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;    
  font-weight: 400;
}


/* Responsive design 2 breakpoint */
@media screen and (min-width: 640px) {
  #card .cards_item {
    width: 50%;
  }
}

@media  screen and (min-width: 896px) {
  #card .cards_item {
    width: 33.3333%;
  }
}