/* Font */

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&display=swap');


#hero * {
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
  color: aliceblue;
}

#hero .hero {
  background-image: url('./img/bg.jpg');
  width: 100%;
  height: 100%;
}

#hero a {
  display: inline-block;
  text-decoration: none;
}

#hero h1,p{
  margin: 10;
}

/* nav */

#hero .pic {
  width: 45px;
  height: 45px;
  object-fit: cover;
}

#hero .row{
  display: flex;
  flex-direction: row;
  background-color: midnightblue;
}

#hero header{
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  padding: 1em;
  background-color: midnightblue;
}

#hero .navLogo h1{
  font-weight: 400;
  background-color: midnightblue;
}

#hero .nav {
  overflow: hidden;
  background-color: midnightblue;
}

#hero .nav a {
  float: left;
  color: #f2f2f2;
  text-align: center; 
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#hero .nav a:hover {
  background-color: #ddd;
  color: black;
}

#hero .nav-right {
  padding-top: 15px;
  float: right;
}

#hero .logoname {
  font-weight: 400;
  font-size: 30px !important;
}

/* hero */
#hero .hero-text {
  padding-top: 30%;
  text-align: center;
  top: 50%;
  left: 50%;
  color: white;
  margin-bottom: 5%;
}

#hero .hero a{
  text-align: center;
  color: rgb(0, 0, 0);
  display: block;
  width: 150px;
  margin: auto;
}

#hero .join {
  background-color: #8ba1cb;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 400 !important;
}

#hero .join:hover {
  background-color: #dfe0e7;
}

#hero .basic {
  background-color: transparent;
  color: white !important; 
  border: 3px solid #8ba1cb;
  padding: 10px 20px;
  text-decoration: none;
}

#hero .basic:hover {
  background-color: #dfe0e7;
}

#hero .extra {
  background-color: transparent;
  border: 3px solid #8ba1cb;
  color: white !important;
  padding: 10px 20px;
  text-decoration: none;
}

#hero .extra:hover {
  background-color: #dfe0e7;
}

